export(cem)
export(L1.meas)
export(imbalance)
export(shift.cem)
export(relax.cem)
export(relax.plot)
export(k2k)
export(pair)
export(att)
S3method(plot, relax.cem)
S3method(plot, cem.att)
S3method(print, imbalance)
S3method(print, L1.meas)
S3method(print, cem.match)
S3method(print, cem.match.list)
S3method(print, cem.att)
S3method(summary, cem.att)








